<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis 2.0</title>
</head>
<body>
    <h1>Jarvis 2.0</h1>
    
    <button onclick="dizerOla()">Falar com Jarvis</button>
    <button onclick="verStatus()">Ver Status</button>
    <button onclick="verStatus()">Ver Status</button>

    <p id="resposta"></p>

    <script>
        function dizerOla(){
            fetch('/comando/ola')
            .then(resp => resp.json())
            .then(data =>{
                document.getElementsById('resposta').innerText = data.msg;
            });
        }
        function verStatus(){
            fetch('/status')
            .then(resp => resp.json())
            .then(data =>{
                document.getElementsById('resposta').innerText = data.msg;
            });
        } 
    </script>

</body>
</html>